.header {
    position: relative;
}
#menu-open, #menu-close {
    position: absolute;
    right: 3rem;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
#menu-open {
    top: 50%;
}
#menu-close {
    top: 2rem;
}
#menu {
    z-index: 1;
    position: fixed;
    top: 0;
    right: -101%;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);;
    padding: 3rem 1rem;
    transition: right .6s;
}
#menu.open {
    right: 0;
}
#menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: -20vh;
}
#menu li {
    list-style: none;
}
#menu a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    border-bottom: 4px solid transparent;
    transition: border-bottom .2s;
}
#menu a:hover {
    border-bottom-color: #fff;
}

@media (max-width: 767px) {
    #menu-open, #menu-close {
        right: 1rem;
    }
    #menu ul {
        margin-top: -10vh;
    }
}