@import '../../styles/geral.scss';
@import '../../components/form.scss';


main {
    padding: 0 1rem 2rem;

    #form {
        max-width: 400px;
        margin: 50px auto 0;
        box-shadow: 2px 2px 12px 1px rgba(0 ,0 ,0 ,.2);
    }
}