@import './geral.css';
@import './components/switch.css';


.controls {
    width: 100%;
    max-width: 1116px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: var(--color-primary);
    margin: 4rem auto;
    padding: 1rem;
}
.controls .control {
    position: relative;
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
}
.controls .control-trigger {
    position: absolute;
    top: .4rem;
    right: .4rem;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--color-primary);
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}
.controls .control-trigger:hover {
    color: #fff;
    background-color: var(--color-primary);
}
.controls .control-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.controls .control-wrapper {

}
.control-state-wrapper {
    margin-top: 1rem;
    font-weight: bold;
}
.control-state-wrapper span {
    color: #ccc;
}
.controls .control-state {
    display: inline;
}

@media (max-width: 767px) {
    .controls {
        margin: 2rem auto;
    }
}